<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>html starter template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem ad consequatur minus, natus ea labore voluptatem illo molestiae quidem accusamus doloremque dicta pariatur repellat incidunt sunt, earum! Voluptates, nobis, enim!</p>
        <a href="" class="btn btn-primary btn-lg">Learn more</a>
      </div>
    </div>
    <!-- service section start -->
    <section id="service" class="bg-info pt-5 pb-5">
      <div class="container">
        <div class="text-center">
          <h1>Our Service</h1>
          <hr>
          <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat dolorem eos molestiae dolores ea iure possimus illum optio repellat veniam quaerat cumque ipsa culpa asperiores voluptatem vitae magnam architecto?</p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <h2>column one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti repudiandae ad exercitationem, cupiditate, natus, labore velit hic fugit iste quod adipisci illo facilis aliquam, vero provident alias delectus doloremque!</p>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <h2>column one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti repudiandae ad exercitationem, cupiditate, natus, labore velit hic fugit iste quod adipisci illo facilis aliquam, vero provident alias delectus doloremque!</p>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <h2>column one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti repudiandae ad exercitationem, cupiditate, natus, labore velit hic fugit iste quod adipisci illo facilis aliquam, vero provident alias delectus doloremque!</p>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <h2>column one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti repudiandae ad exercitationem, cupiditate, natus, labore velit hic fugit iste quod adipisci illo facilis aliquam, vero provident alias delectus doloremque!</p>
          </div>
        </div>
      </div>
    </section>
    <!-- service section end -->
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>