 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.banner-1{
		display: none;
	}
	.category-nav{
		display: none;
	}
	.mobile-category{
	display: block;
	}
	.single-product {
	    width: 80%;
	    border: 1px solid #e9ecef;
	    margin: 16px auto;
	}
	.single-product img{
		width: 100%;
	}
	.slider-title {
    font-size: 40px;  
	}
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.banner-1{
		display: none;
	}
	.category-nav{
		display: none;
	}
	.mobile-category{
	display: block;
	}
	.single-product{
		margin-bottom: 20px;
	}	
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.banner-1{
		display: none;
	}
	.category-nav{
		display: none;
	}
	.mobile-category{
	display: block;
	}
	.single-product{
		margin-bottom: 20px;
	}	
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  

	.single-product{
		margin-bottom: 20px;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.single-product{
		margin-bottom: 20px;
	}
 }